%table
  %head
    %tr
      %th.raam.vouwgordijnen.gordijnen.vloeren ruimte
      %th.raam.vouwgordijnen.gordijnen.vloeren aantal
      %th{:class => "raam vouwgordijnen gordijnen vloeren", :colspan => 2} breedte x hoogte (mm)
      %th.vloeren snijmaat
      %th.vloeren ondervloer
      %th.vloeren legrichting
      %th.gordijnen strakke hoogte maat
      %th.vouwgordijnen.gordijnen knipmaat
      %th{:class => "raam vouwgordijnen", :colspan => 2} BM/DM
      %th.gordijnen stuk L-R/stel
      %th.gordijnen hoofdje (mm)
      %th{:class => "gordijnen", :colspan => 2} rail lengte (mm)
      %th.gordijnen bocht type
      %th.gordijnen bocht maat
      %th{:class => "raam vouwgordijnen", :colspan => 2} bediening
      %th.vouwgordijnen.gordijnen montage
      %th.raam type
      %th.raam pakket
      %th.raam koof
      %th.raam zijgeleiding
      %th.raam contra rolend
      %th.raam montage
      %th.raam.vouwgordijnen.gordijnen plaatsing
      %th.raam.vouwgordijnen montage hoogte (mm)
      %th.actions verwijder
  %tbody.calculations
    #tasks
      = f.fields_for :calculations do |calculation|
        = render 'calculation_fields', f: calculation
.links
  = link_to_add_association 'Voeg berekening toe', f, :calculations,
  'data-association-insertion-method' => 'append',
  'data-association-insertion-node' => 'tbody.calculations', :class => 'add_calculation'