%table
  %head
    %tr
      %th.gordijnen_raam ruimte/aantal
      %th.gordijnen_raam breedte x hoogte
      %th{:class => "gordijnen", :colspan => 2} stuk L-R/stel
      %th{:class => "gordijnen", :colspan => 2} bediening
      %th{:class => "gordijnen", :colspan => 2} voeren
      %th.gordijnen hoofdje
      %th{:class => "raam", :colspan => 2} bediening
      %th.raam type
      %th{:class => "raam", :colspan => 2} uitlijnen
      %th{:class => "gordijnen_raam", :colspan => 2} BM/DM
      %th.actions verwijder
  %tbody.calculations
.links
  = link_to_add_association 'Voeg berekening toe', f, :calculations,
  'data-association-insertion-method' => 'append',
  'data-association-insertion-node' => 'tbody.calculations', :class => 'add_calculation'

