%table
  %head
    %tr
      %th{:width => "120px;", :class => "raam vouwgordijnen gordijnen vloeren"} ruimte
      %th{:class => "raam vouwgordijnen gordijnen vloeren"} aantal
      %th{:class => "raam vouwgordijnen gordijnen vloeren", :colspan => 2} b x h
      %th.vloeren snijmaat
      %th.vloeren ondervloer
      %th.vloeren legrichting
      %th{:class => "gordijnen"} shm
      %th{:class => "vouwgordijnen gordijnen"} knipmaat
      %th{:class => "raam vouwgordijnen", :colspan => 2} BM/DM
      %th{:class => "gordijnen"} stuk L-R/stel
      %th.gordijnen hoofdje
      %th{:class => "gordijnen", :colspan => 2} rail lengte
      %th{:class => "gordijnen"} bocht type
      %th{:width => "120px;",:class => "gordijnen"} bocht maat
      %th{:class => "raam vouwgordijnen", :colspan => 2} bediening
      %th{:class => "raam", :colspan => 2} tuimelkoord
      %th.raam type      
      %th.vouwgordijnen.raam uitlijnen met
      %th.vouwgordijnen.gordijnen montage
      %th.raam pakket
      %th.raam koof
      %th.raam zijgeleiding
      %th.raam contra rolend
      %th.raam montage
      %th.raam.vouwgordijnen.gordijnen plaatsing
      %th.raam.vouwgordijnen montage hoogte (mm)
      %th.raam prijs
      %th.actions verwijder
  %tbody.calculations
    #tasks
      = f.fields_for :calculations, @calculations do |calculation|
        = render 'calculation_fields', f: calculation
.links
  = link_to_add_association 'Voeg berekening toe', f, :calculations,
  'data-association-insertion-method' => 'append',
  'data-association-insertion-node' => 'tbody.calculations', :class => 'add_calculation'