%table
  %head
    %tr
      %th.numbers_width Hoeveelheid
      %th Label
      %th{:colspan => "2"} Invulvelden
      %th.numbers_width Prijs
      %th.numbers_width Totaal prijs
      %th.numbers_width Totaal arbeid
  %tbody
    #tasks
      = f.fields_for :items, f.object.items.order(:created_at) do |item|
        - if item.object.werkbon_type == @vloer.werkbon_type
          = render 'leverancier_edit_details', f: item
          = render 'leverancier_regel_edit_details', f: item

