%table
  %head
    %tr
      %th.vouwgordijnen.gordijnen ruimte
      %th.vouwgordijnen.gordijnen aantal
      %th{:class => "vouwgordijnen gordijnen", :colspan => 2} breedte x hoogte (cm)
      %th.gordijnen strakke hoogte maat (mm)
      %th.gordijnen knipmaat
      %th{:class => "vouwgordijnen gordijnen", :colspan => 2} BM/DM
      %th.gordijnen stuk L-R/stel
      %th.gordijnen hoofdje (mm)
      %th.gordijnen rail lengte (mm)
      %th.gordijnen bocht type
      %th.gordijnen bocht maat
      %th.vouwgordijnen.gordijnen montage
      %th{:class => "vouwgordijnen", :colspan => 2} bediening
      %th.vouwgordijnen montage hoogte (mm)
      %th.vouwgordijnen.gordijnen plaatsing
      %th.actions verwijder
  %tbody.calculations
    #tasks
      = f.fields_for :calculations do |calculation|
        = render 'calculation_fields', f: calculation
.links
  = link_to_add_association 'Voeg berekening toe', f, :calculations,
  'data-association-insertion-method' => 'append',
  'data-association-insertion-node' => 'tbody.calculations', :class => 'add_calculation'